@font-face{
  font-family: Firacode;
  src: url("../assets/variable_ttf/FiraCode-VF.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #282828;
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Firacode;
  color: white;
}

header {
  display: flex;
  flex-direction: column;
}

h1{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

main{
  margin-top: 2.5rem;
}

p {
  font-size: medium;
  span {
    color: #f3b0ff;
  }
}

nav ul {
  display: flex;
  list-style: none;
  li {
    margin-right: 1rem;
    font-size: small;
  }
}

a {
  color: white;
}

footer {
  margin-top: auto;
  text-align: center;
  color: #f7ffae;
}

a:hover{
  color:#f3b0ff;
}


@media (min-width: 320px) {
  body {
    margin: 2rem;
    width: 100%;
  }
  header {
    h1 {
      font-size: x-large;
    }
  }
}

@media (min-width: 1025px) {
  body {
    width: 32%;
  }
  header {
    img {
      height: 10rem;
    }
  }
}
